@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
* screen.scss------------------------对主页的样式设置
*
* variable.scss----------------------对变量的集中管理
*
* mixin.scss-------------------------对mixin文件的集中管理
* 
*   
*/
/* line 72, logo/*.png */
.logo-sprite, .logo-164151, .logo-header, .logo-logo, .logo-order-bot-bg1, .main-logo {
  background-image: url('../images/logo-sb619fd810b.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-164151 {
  background-position: 0 0;
  height: 327px;
  width: 1155px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-header {
  background-position: 0 -327px;
  height: 38px;
  width: 421px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-logo {
  background-position: 0 -365px;
  height: 37px;
  width: 111px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-order-bot-bg1 {
  background-position: 0 -402px;
  height: 22px;
  width: 369px;
}

/* line 11, ../sass/_icons.scss */
.main-logo {
  background-position: 0 0;
  height: 327px;
  width: 1155px;
}

/* line 28, ../sass/screen.scss */
.strech-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 31, ../sass/screen.scss */
.test-inline-block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 34, ../sass/screen.scss */
.test-inline-opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 37, ../sass/screen.scss */
.main-sec {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
/* line 39, ../sass/screen.scss */
.main-sec .headline {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
}
/* line 44, ../sass/screen.scss */
.main-sec .headline:hover {
  color: #993D3D;
}
/* line 48, ../sass/screen.scss */
.detail {
  font-size: 12px;
}

/* line 56, ../sass/screen.scss */
p {
  color: #8000ff;
}

/* line 61, ../sass/screen.scss */
.webdemo-sec {
  width: 50%;
  float: left;
}
/* line 64, ../sass/screen.scss */
.webdemo-sec:hover {
  color: #f5f5f5;
}

/* line 69, ../sass/screen.scss */
.webdemo-sec-pra {
  width: 50%;
}

/* line 72, ../sass/screen.scss */
.error.instrusion, .instrusion.serious-error {
  background: url("/image/bg.png");
}

/* line 76, ../sass/screen.scss */
.error, .serious-error {
  color: #f00;
}

/* line 79, ../sass/screen.scss */
.serious-error {
  font-size: 20px;
}

/* line 83, ../sass/screen.scss */
.serious-error {
  border: 1px red solid;
}
