@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
* screen.scss------------------------对主页的样式设置
*
* variable.scss----------------------对变量的集中管理
*
* mixin.scss-------------------------对mixin文件的集中管理
* 
*   
*/
/* line 27, ../sass/screen.scss */
.strech-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 30, ../sass/screen.scss */
.test-inline-block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 33, ../sass/screen.scss */
.test-inline-opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 36, ../sass/screen.scss */
.main-sec {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
/* line 38, ../sass/screen.scss */
.main-sec .headline {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
}
/* line 43, ../sass/screen.scss */
.main-sec .headline:hover {
  color: #993D3D;
}
/* line 47, ../sass/screen.scss */
.detail {
  font-size: 12px;
}

/* line 55, ../sass/screen.scss */
p {
  color: #8000ff;
}

/* line 60, ../sass/screen.scss */
.webdemo-sec {
  width: 50%;
  float: left;
}
/* line 63, ../sass/screen.scss */
.webdemo-sec:hover {
  color: #f5f5f5;
}

/* line 68, ../sass/screen.scss */
.webdemo-sec-pra {
  width: 50%;
}

/* line 71, ../sass/screen.scss */
.error.instrusion, .instrusion.serious-error {
  background: url("/image/bg.png");
}

/* line 75, ../sass/screen.scss */
.error, .serious-error {
  color: #f00;
}

/* line 78, ../sass/screen.scss */
.serious-error {
  font-size: 20px;
}

/* line 82, ../sass/screen.scss */
.serious-error {
  border: 1px red solid;
}
